<p>This module allow to keep in sync two Drupal instances, and must be installed on both web sites.</p>
<p>The way it works is to update a table, on the slave website, with the user data, when a user is updated or created on the master web site.</p>
<p>Once the update is done, a url is fired via cURL on the slave website. This function read the data from the table, updated by the master, and create or update a user based on the email address.</p>
<p><strong>To test/use this module you need:</strong></p>
<p>1. Two drupal website with relative admin access.<br>
2. SQL config for both web sites</p>
<p><strong>Config:</strong></p>
<p>1. Download and install the module on the master website.<br>
2. Go to <em>Admin > Config > People > Sql User Sync</em> and configure the slave  website SQL parameters (host, user, pwd, etc.).<br>
3. Install module on your slave and select the table where the data is stored (the same configured in the slave parameters on the master web site).<br>
4. On the master create a map of fields between master and slave.<br>
5. On the slave web site assign <em>anonymous user</em> and <em>authenticated user</em> access permission to "SQL User Sync run updates".<br>
6. If your master act even as slave do the some config in the other way.</p>
<p><strong>Updates:</strong></p>
<p>Every time a user is update or created on the master, the update will run on the slave. If you need to run the update manually, call http://yoursite.com/sql_user_sync/run.</p>
<p>The update process is also run when the cron start to avoid any missing update.</p>
<p>&copy; hiryu (<a href="http://drupal.org/user/2502794">http://drupal.org/user/2502794</a>)</p>
