#edit-sql-user-sync-setup-fields .label,
#edit-sql-user-sync-setup-fields .form-item {
  float: left;
  min-width: 250px;
  padding-right: 0;
}
#edit-sql-user-sync-setup-fields .label:nth-child(even),
#edit-sql-user-sync-setup-fields .form-item:nth-child(even) {
  float: none;
}
